<?xml version="1.0"?>
<config>
    <modules>
        <XT_Promotional>
            <version>0.1.0</version>
        </XT_Promotional>
    </modules>
    <admin>
        <routers>
			<promotional>
				<use>admin</use>
				<args>
					<module>XT_Promotional</module>
					<frontName>promotional</frontName>
				</args>
			</promotional>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		   <catalog>
                <children>
				   <promotional module="promotional">
						<title>Manage Promotional Products</title>
						<sort_order>3</sort_order>
						<action>promotional/adminhtml_promotional/new</action>						
				     </promotional>		
				</children>
             </catalog>
		  </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<XT_Promotional>
							<title>Promotional Module</title>
							<sort_order>10</sort_order>
						</XT_Promotional>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<promotional>
					<file>promotional.xml</file>
				</promotional>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <promotional>
                <class>XT_Promotional_Model</class>
                <resourceModel>promotional_mysql4</resourceModel>
            </promotional>
            <promotional_mysql4>
                <class>XT_Promotional_Model_Mysql4</class>
                <entities>
                    <promotional>
                        <table>customer_promotional</table>
                    </promotional>
                    <grid>
                        <table>grid_promotional</table>
                    </grid>
                </entities>
            </promotional_mysql4>
        </models>
        <resources>
            <promotional_setup>
                <setup>
                    <module>XT_Promotional</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotional_setup>
            <promotional_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotional_write>
            <promotional_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotional_read>
        </resources>
        <blocks>
            <promotional>
                <class>XT_Promotional_Block</class>
            </promotional>
        </blocks>
        <helpers>
            <promotional>
                <class>XT_Promotional_Helper</class>
            </promotional>
        </helpers>
    </global>
	<frontend>
		<routers>
            <promotional>
                <use>standard</use>
                <args>
                    <module>XT_Promotional</module>
                    <frontName>promotional</frontName>
                </args>
            </promotional>
        </routers>        
		<layout>
			<updates>
				<promotional>
					<file>promotional.xml</file>
				</promotional>
			</updates>
		</layout>
    </frontend>
</config>